*{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
body{
    color:white;
    margin:0px;
    padding:0px;
    background:url('../img/aboutus.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /*To stop background moving while zoom in and out*/
}
.left{
display:inline-block;
position:absolute;
left:34px;
top:20px;
}
.mid{
    /* TRBL */
  /* padding: 0px 0px 0px 73px;  */
 display:block;
 width: 57%;
 margin: 20px auto;
 /* border:2px solid black; */
}
.right{

    position:absolute;
    display:inline-block;
    right:14px;
    top: 20px; 
}
.navbar{
    display:inline-block;

}
.navbar li{
    font-size:19px;
    display:inline-block;
    list-style-type: none;
}
.navbar li a{
    color:white;
    text-decoration: none;
    padding: 34px 25px; /*23*/
}
.navbar li a:hover{
    text-decoration:underline;
    color:aqua;
}
.navbar li a.active{
    text-decoration:underline;
    color:aqua;
}
.left img{
    margin:0px 0px 0px 18px;
    width:75px;
    filter:invert(100%);
}
.left div{
    margin:0px 0px 0px 18px;
    text-align:center;
    line-height:25px;
    font-size:17px;
}
.btn{
    margin:7px 2px;
    color: white;
    background-color:darkcyan;
    padding: 12px 14px;
    border-radius:8px;
    font-size:15px; 
    font-weight: bold;
    cursor:pointer; /*to get pointer when cursor is over the button*/
    
}
.btn:hover{
    background-color:cadetblue;
    color:black;
    transition-delay: 6ms;
}

.content{
    background-color: rgba(26, 65, 72, 0.5);
    display:block;
    border:2px solid white;
    margin: 60px 150px;
    padding: 40px;
    box-sizing: border-box;
    box-sizing: content-box;
    border-radius:7px ;
}
.review{
    background-color: rgba(26, 65, 72, 0.5);
    background-blend-mode:soft-light;
    width:320px;
    height:320px;
    display:inline-block;
    border:2px solid white;
    margin:5px 5px 50px 10px; 
     padding:30px 30px;
    border-radius:10px ;
}
/* .sticky{
    position: sticky;
} */
